## Exercícios

> Retirados de [learn-python: sqlalchemy_orm-questions](https://aviadr1.github.io/learn-advanced-python/11_db_access/exercise/sqlalchemy_orm-questions.html).

#### Q1.

Baixa e extraia o arquivo compactado com o banco de dados [Chinook database](https://www.sqlitetutorial.net/sqlite-sample-database/). Salve o arquivo `chinook.db` na mesma pasta deste script.
* Link para baixar: http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

<img width=500 src=https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg>

#### Q2.

Leia o código e os comentários das células a seguir para entender como acessamos os modelos ORM de um banco já existente.

In [4]:
from sqlalchemy import create_engine, text, MetaData
from sqlalchemy.orm import Session

engine = create_engine("sqlite+pysqlite:///chinook.db", echo=False)

### extrai as classes da base de dados Chinook
metadata = MetaData()
metadata.reflect(engine)

# O metadata tem informações sobre as tabelas
# que serão usadas para criar os modelos ORM
for table_name, table in metadata.tables.items():
    print(table_name)
    print(table.columns.keys())
    print(table.columns.items())
    print('-'*25)

### configura o objeto Base mapeando os modelos ORM das tabelas
from sqlalchemy.ext.automap import automap_base
Base = automap_base(metadata=metadata)
Base.prepare()

# o objeto Base tem os modelos ORM que podemos usar
# para manipular o banco de dados
print(Base.classes.items())

albums
['AlbumId', 'Title', 'ArtistId']
[('AlbumId', Column('AlbumId', INTEGER(), table=<albums>, primary_key=True, nullable=False)), ('Title', Column('Title', NVARCHAR(length=160), table=<albums>, nullable=False)), ('ArtistId', Column('ArtistId', INTEGER(), ForeignKey('artists.ArtistId'), table=<albums>, nullable=False))]
-------------------------
artists
['ArtistId', 'Name']
[('ArtistId', Column('ArtistId', INTEGER(), table=<artists>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<artists>))]
-------------------------
customers
['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']
[('CustomerId', Column('CustomerId', INTEGER(), table=<customers>, primary_key=True, nullable=False)), ('FirstName', Column('FirstName', NVARCHAR(length=40), table=<customers>, nullable=False)), ('LastName', Column('LastName', NVARCHAR(length=20), table=<customers>, nullable=False)), ('Company', Column('Company', NVARCHAR(length=80), table=<customers>)), ('Address', Column('Address', NVARCHAR(length=70), table=<customers>)), ('City', Column('City', NVARCHAR(length=40), table=<customers>)), ('State', Column('State', NVARCHAR(length=40), table=<customers>)), ('Country', Column('Country', NVARCHAR(length=40), table=<customers>)), ('PostalCode', Column('PostalCode', NVARCHAR(length=10), table=<customers>)), ('Phone', Column('Phone', NVARCHAR(length=24), table=<customers>)), ('Fax', Column('Fax', NVARCHAR(length=24), table=<customers>)), ('Email', Column('Email', NVARCHAR(length=60), table=<customers>, nullable=False)), ('SupportRepId', Column('SupportRepId', INTEGER(), ForeignKey('employees.EmployeeId'), table=<customers>))]
-------------------------
employees
['EmployeeId', 'LastName', 'FirstName', 'Title', 'ReportsTo', 'BirthDate', 'HireDate', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email']
[('EmployeeId', Column('EmployeeId', INTEGER(), table=<employees>, primary_key=True, nullable=False)), ('LastName', Column('LastName', NVARCHAR(length=20), table=<employees>, nullable=False)), ('FirstName', Column('FirstName', NVARCHAR(length=20), table=<employees>, nullable=False)), ('Title', Column('Title', NVARCHAR(length=30), table=<employees>)), ('ReportsTo', Column('ReportsTo', INTEGER(), ForeignKey('employees.EmployeeId'), table=<employees>)), ('BirthDate', Column('BirthDate', DATETIME(), table=<employees>)), ('HireDate', Column('HireDate', DATETIME(), table=<employees>)), ('Address', Column('Address', NVARCHAR(length=70), table=<employees>)), ('City', Column('City', NVARCHAR(length=40), table=<employees>)), ('State', Column('State', NVARCHAR(length=40), table=<employees>)), ('Country', Column('Country', NVARCHAR(length=40), table=<employees>)), ('PostalCode', Column('PostalCode', NVARCHAR(length=10), table=<employees>)), ('Phone', Column('Phone', NVARCHAR(length=24), table=<employees>)), ('Fax', Column('Fax', NVARCHAR(length=24), table=<employees>)), ('Email', Column('Email', NVARCHAR(length=60), table=<employees>))]
-------------------------
genres
['GenreId', 'Name']
[('GenreId', Column('GenreId', INTEGER(), table=<genres>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<genres>))]
-------------------------
invoice_items
['InvoiceLineId', 'InvoiceId', 'TrackId', 'UnitPrice', 'Quantity']
[('InvoiceLineId', Column('InvoiceLineId', INTEGER(), table=<invoice_items>, primary_key=True, nullable=False)), ('InvoiceId', Column('InvoiceId', INTEGER(), ForeignKey('invoices.InvoiceId'), table=<invoice_items>, nullable=False)), ('TrackId', Column('TrackId', INTEGER(), ForeignKey('tracks.TrackId'), table=<invoice_items>, nullable=False)), ('UnitPrice', Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<invoice_items>, nullable=False)), ('Quantity', Column('Quantity', INTEGER(), table=<invoice_items>, nullable=False))]
-------------------------
tracks
['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
[('TrackId', Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False)), ('AlbumId', Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>)), ('MediaTypeId', Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False)), ('GenreId', Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>)), ('Composer', Column('Composer', NVARCHAR(length=220), table=<tracks>)), ('Milliseconds', Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False)), ('Bytes', Column('Bytes', INTEGER(), table=<tracks>)), ('UnitPrice', Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False))]
-------------------------
media_types
['MediaTypeId', 'Name']
[('MediaTypeId', Column('MediaTypeId', INTEGER(), table=<media_types>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<media_types>))]
-------------------------
invoices
['InvoiceId', 'CustomerId', 'InvoiceDate', 'BillingAddress', 'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode', 'Total']
[('InvoiceId', Column('InvoiceId', INTEGER(), table=<invoices>, primary_key=True, nullable=False)), ('CustomerId', Column('CustomerId', INTEGER(), ForeignKey('customers.CustomerId'), table=<invoices>, nullable=False)), ('InvoiceDate', Column('InvoiceDate', DATETIME(), table=<invoices>, nullable=False)), ('BillingAddress', Column('BillingAddress', NVARCHAR(length=70), table=<invoices>)), ('BillingCity', Column('BillingCity', NVARCHAR(length=40), table=<invoices>)), ('BillingState', Column('BillingState', NVARCHAR(length=40), table=<invoices>)), ('BillingCountry', Column('BillingCountry', NVARCHAR(length=40), table=<invoices>)), ('BillingPostalCode', Column('BillingPostalCode', NVARCHAR(length=10), table=<invoices>)), ('Total', Column('Total', NUMERIC(precision=10, scale=2), table=<invoices>, nullable=False))]
-------------------------
playlist_track
['PlaylistId', 'TrackId']
[('PlaylistId', Column('PlaylistId', INTEGER(), ForeignKey('playlists.PlaylistId'), table=<playlist_track>, primary_key=True, nullable=False)), ('TrackId', Column('TrackId', INTEGER(), ForeignKey('tracks.TrackId'), table=<playlist_track>, primary_key=True, nullable=False))]
-------------------------
playlists
['PlaylistId', 'Name']
[('PlaylistId', Column('PlaylistId', INTEGER(), table=<playlists>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<playlists>))]
-------------------------
[('artists', <class 'sqlalchemy.ext.automap.artists'>), ('employees', <class 'sqlalchemy.ext.automap.employees'>), ('albums', <class 'sqlalchemy.ext.automap.albums'>), ('playlists', <class 'sqlalchemy.ext.automap.playlists'>), ('invoices', <class 'sqlalchemy.ext.automap.invoices'>), ('genres', <class 'sqlalchemy.ext.automap.genres'>), ('media_types', <class 'sqlalchemy.ext.automap.media_types'>), ('customers', <class 'sqlalchemy.ext.automap.customers'>), ('invoice_items', <class 'sqlalchemy.ext.automap.invoice_items'>), ('tracks', <class 'sqlalchemy.ext.automap.tracks'>)]

In [17]:
# A seguir um exemplo de query na tabela Albums
# usamos o objeto Base para acessar cada modelo ORM.

session = Session(engine)
res = session.scalars(select(Base.classes.albums))
first_album = res.first()
print(first_album.AlbumId, first_album.Title)

1 For Those About To Rock We Salute You

In [7]:
from sqlalchemy import create_engine, MetaData, select, func
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

In [8]:
engine = create_engine("sqlite+pysqlite:///chinook.db", echo=False)

metadata = MetaData()
metadata.reflect(engine)

In [9]:
Base = automap_base(metadata=metadata)
Base.prepare()

In [10]:
Base.classes.keys()

['artists',
 'employees',
 'albums',
 'playlists',
 'invoices',
 'genres',
 'media_types',
 'customers',
 'invoice_items',
 'tracks']

In [11]:
session = Session(engine)

#### Q3.
Com base nos códigos anteriores realize as operações solicitadas nas células a seguir:

In [12]:
### Imprima os três primeiros registros da tabela tracks
Tracks = Base.classes.tracks

for t in session.scalars(select(Tracks).limit(3)):
    print(t.TrackId, t.Name, t.AlbumId)

1 For Those About To Rock (We Salute You) 1
2 Balls to the Wall 2
3 Fast As a Shark 3

In [13]:
### Imprima o nome da faixa e o título do álbum das primeiras 20 faixas na tabela tracks.
Tracks = Base.classes.tracks
Albums = Base.classes.albums

stmt = (
    select(Tracks.Name, Albums.Title)
    .join(Albums, Tracks.AlbumId == Albums.AlbumId)
    .limit(20)
)

for name, album_title in session.execute(stmt):
    print(name, "-", album_title)

For Those About To Rock (We Salute You) - For Those About To Rock We Salute You
Put The Finger On You - For Those About To Rock We Salute You
Let's Get It Up - For Those About To Rock We Salute You
Inject The Venom - For Those About To Rock We Salute You
Snowballed - For Those About To Rock We Salute You
Evil Walks - For Those About To Rock We Salute You
C.O.D. - For Those About To Rock We Salute You
Breaking The Rules - For Those About To Rock We Salute You
Night Of The Long Knives - For Those About To Rock We Salute You
Spellbound - For Those About To Rock We Salute You
Balls to the Wall - Balls to the Wall
Fast As a Shark - Restless and Wild
Restless and Wild - Restless and Wild
Princess of the Dawn - Restless and Wild
Go Down - Let There Be Rock
Dog Eat Dog - Let There Be Rock
Let There Be Rock - Let There Be Rock
Bad Boy Boogie - Let There Be Rock
Problem Child - Let There Be Rock
Overdose - Let There Be Rock

In [14]:
### Imprima as 10 primeiras vendas de faixas da tabela invoice_items
### Para essas 10 primeiras vendas, imprima os nomes das faixas vendidas e a quantidade vendida.
InvoiceItems = Base.classes.invoice_items

for item in session.scalars(select(InvoiceItems).limit(10)):
    print(item.InvoiceLineId, item.TrackId, item.Quantity, item.UnitPrice)

1 2 1 0.99
2 4 1 0.99
3 6 1 0.99
4 8 1 0.99
5 10 1 0.99
6 12 1 0.99
7 16 1 0.99
8 20 1 0.99
9 24 1 0.99
10 28 1 0.99

In [15]:
### Imprima os nomes das 10 faixas mais vendidas e quantas vezes foram vendidas.
Tracks = Base.classes.tracks
InvoiceItems = Base.classes.invoice_items

stmt = (
    select(Tracks.Name, InvoiceItems.Quantity)
    .join(Tracks, Tracks.TrackId == InvoiceItems.TrackId)
    .limit(10)
)

for track_name, qty in session.execute(stmt):
    print(track_name, "-", qty)

Balls to the Wall - 1
Restless and Wild - 1
Put The Finger On You - 1
Inject The Venom - 1
Evil Walks - 1
Breaking The Rules - 1
Dog Eat Dog - 1
Overdose - 1
Love In An Elevator - 1
Janie's Got A Gun - 1

In [16]:
### Quem são os 10 artistas que mais venderam?
Artists = Base.classes.artists
Albums = Base.classes.albums
Tracks = Base.classes.tracks
InvoiceItems = Base.classes.invoice_items

stmt = (
    select(Artists.Name, func.sum(InvoiceItems.Quantity).label("total_sold"))
    .join(Albums, Artists.ArtistId == Albums.ArtistId)
    .join(Tracks, Albums.AlbumId == Tracks.AlbumId)
    .join(InvoiceItems, Tracks.TrackId == InvoiceItems.TrackId)
    .group_by(Artists.ArtistId)
    .order_by(func.sum(InvoiceItems.Quantity).desc())
    .limit(10)
)

for artist_name, total_sold in session.execute(stmt):
    print(artist_name, "-", total_sold)

### dica: você precisa juntar as tabelas invoice_items, tracks, albums e artists
from sqlalchemy import func

Tracks = Base.classes.tracks
InvoiceItems = Base.classes.invoice_items

stmt = (
    select(Tracks.Name, func.sum(InvoiceItems.Quantity).label("total_sold"))
    .join(Tracks, Tracks.TrackId == InvoiceItems.TrackId)
    .group_by(Tracks.TrackId)
    .order_by(func.sum(InvoiceItems.Quantity).desc())
    .limit(10)
)

for name, total in session.execute(stmt):
    print(name, "-", total)

Iron Maiden - 140
U2 - 107
Metallica - 91
Led Zeppelin - 87
Os Paralamas Do Sucesso - 45
Deep Purple - 44
Faith No More - 42
Lost - 41
Eric Clapton - 40
R.E.M. - 39
Balls to the Wall - 2
Inject The Venom - 2
Snowballed - 2
Overdose - 2
Deuces Are Wild - 2
Not The Doctor - 2
Por Causa De Você - 2
Welcome Home (Sanitarium) - 2
Snowblind - 2
Cornucopia - 2